@font-face {
    font-family: "Mont Blanc-Trial";
    src: url("/fonts/mont/MontBlanc-Trial-Bold.otf");
}

body {
    font-family: "Inter";
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Mont Blanc-Trial" "Inter";
    }
    .page-enter-active,
    .page-leave-active {
        transition: all 0.8s ease;
        position: absolute;
        right: 0;
        left: 0;
    }

    .page-enter-from,
    .page-leave-to {
        opacity: 0;
        filter: blur(1rem);
        translate: 1rem 0;
    }
}
